{% extends 'extends/default.html' %}
{% load static l10n %}
{% block styles %}

{% endblock %}
{% block title %}

{% endblock %}
{% block body %}
    <div class="container">
        {% include 'includes/navbar.html' %}
        <div class="row">
            <h1>Comportamentos Estimadores</h1>
            <p>Para as pessoas que votaram no candidato <strong>A</strong></p>
            <p><a href="/estimadores/">Atualizar</a> a página novas amostras serão geradas aleatóriamente e os valores amostrais atualizados.</p>
            <p>Foram coletadas 500 amostras de tamanho n=15 e chegou-se aos seguintes valores.</p>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>Média</th>
                    <th>Desvio Padrão</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>População</td>
                    <td>{{ media_populacao|floatformat:4 }}</td>
                    <td>{{ desvio_padrao_populacao|floatformat:4 }}</td>
                </tr>
                <tr>
                    <td>Amostra</td>
                    <td>{{ media_amostra|floatformat:4 }}</td>
                    <td>{{ p_chapeu_x_normal|floatformat:4 }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <div class="row">
            <p>Observando-se que os valores obtidos com várias amostras, respeitando o teorema do limite central e que permaneceu em torno dos valores da população,
                constata-se que assemelha-se a teoria. </p>
        </div>
        <hr>
        <div class="row">
            <div id="barra"></div>
        </div>
        <hr>
        <div class="row">
            <div id="histograma"></div>
        </div>
        <hr>
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th colspan="2">Int. Confiança (95%)</th>
                </tr>
                <tr>
                    <th>#</th>
                    <th>Amostra</th>
                    <th>Média</th>
                    <th>Lim. Inf.</th>
                    <th>Lim. Sup.</th>
                </tr>
                </thead>
                <tbody>
                {% for amostra in amostras %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            {% for idade in amostra.idades %}
                                {{ idade.idade }}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ amostra.media|floatformat:4 }}</td>
                        <td>{{ amostra.intervalo_de_confianca.0|floatformat:4 }}</td>
                        <td>{{ amostra.intervalo_de_confianca.1|floatformat:4 }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% include 'includes/footer.html' %}
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        $(document).ready(function () {
            var y = [{% for amostra in amostras %}{{ amostra.media|unlocalize }}{% if not forloop.last %},{% endif %}{% endfor %}];
            var x = [{% for amostra in amostras %}{{ forloop.counter }}{% if not forloop.last %},{% endif %}{% endfor %}];
            var trace = {
                x: x,
                y: y,
                type: 'bar',
                histnorm: 'percent',
                name: 'number',
            };
            var data = [trace];
            var layout = {
                title: 'Médias Amostras - Gráfico',
                xaxis: {
                    title: 'Número da Amostra',
                    tickfont: {
                        size: 14,
                        color: 'rgb(107, 107, 107)'
                    }
                },
                yaxis: {
                    title: 'Média',
                    titlefont: {
                        size: 16,
                        color: 'rgb(107, 107, 107)'
                    }
                }
            };
            Plotly.newPlot('barra', data, layout);

            var layout_histograma = {
                title: 'Histograma',
            };
            var trace_histograma = {
                x: y,
                y: x,
                type: 'histogram',
                histnorm: 'percent',
                name: 'number'
            };
            var data_histograma = [trace_histograma];
            Plotly.newPlot('histograma', data_histograma, layout_histograma);
        })
    </script>
{% endblock %}
