{% extends 'extends/default.html' %}
{% load static %}
{% block styles %}

{% endblock %}
{% block title %}
    <title>Parâmetros Populacionais</title>
{% endblock %}
{% block body %}
    <div class="container">
        {% include 'includes/navbar.html' %}

        <div class="row">
            <h1>Candidatos</h1>
        </div>
        <div class="row">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Candidato</th>
                    <th>Qtd de Votos</th>
                    <th>Proporção</th>
                    <th>Méd. de Idade</th>
                    <th>Variância</th>
                    <th>Desvio Padrão</th>
                </tr>
                </thead>
                <tbody>
                {% for parametro in parametros %}
                    <tr>
                    <td>{{ parametro.candidato }}</td>
                    <td>{{ parametro.total }}</td>
                    <td>{{ parametro.proporcao|floatformat }}%</td>
                    <td>{{ parametro.media|floatformat:4 }}</td>
                    <td>{{ parametro.variancia|floatformat:4 }}&#178;</td>
                    <td>{{ parametro.desvio_padrao|floatformat:4 }}</td>
                {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <div class="row">
            {% for tab in tabelas %}
                <div class="col-6">
                    <h3>Frequências - Candidato {{ tab.candidato }}</h3>
                    <div id="histograma{{ forloop.counter }}"></div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>i</th>
                            <th>xi</th>
                            <th>fi</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for tabela in tab.tabela %}
                            <tr>
                                <td>{{ tabela.indice }}</td>
                                <td>{{ tabela.xi }}</td>
                                <td>{{ tabela.fi }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
        {% include 'includes/footer.html' %}
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        $(document).ready(function () {
            {% for tab in tabelas %}
                var y{{ forloop.counter }} = [{% for tabela in tab.tabela %}{{ tabela.fi }}{% if not forloop.last %},{% endif %}{% endfor %}];
                var x{{ forloop.counter }} = [{% for tabela in tab.tabela %}{{ tabela.xi }}{% if not forloop.last %},{% endif %}{% endfor %}];
                var trace{{ forloop.counter }} = {
                    x: x{{ forloop.counter }},
                    y: y{{ forloop.counter }},
                    type: 'bar',
                };
                var data{{ forloop.counter }} = [trace{{ forloop.counter }}];
                var layout = {
                    title: 'Frequências - Candidato {{ tab.candidato }}',
                    xaxis: {
                        title: 'xi',
                        tickfont: {
                            size: 14,
                            color: 'rgb(107, 107, 107)'
                        }
                    },
                    yaxis: {
                        title: 'fi',
                        titlefont: {
                            size: 16,
                            color: 'rgb(107, 107, 107)'
                        }
                    }
                };
                Plotly.newPlot('histograma{{ forloop.counter }}', data{{ forloop.counter }}, layout);
            {% endfor %}

        })
    </script>
    {% comment %}<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            google.charts.load("current", {packages:["corechart"]});
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
                {% for tab in tabelas %}
                    var dados{{ forloop.counter }} = google.visualization.arrayToDataTable([['xi', 'fi'],{% for tabela in tab.tabela %}[{{ tabela.xi }}, {{ tabela.fi }}]{% if not forloop.last %}, {% endif %}{% endfor %}]);
                    var options{{ forloop.counter }} = {
                        title: 'Histograma do candidato {{ tab.candidato }}',
                        legend: {position: 'none'},
                    };
                    var chart{{ forloop.counter }} = new google.visualization.Histogram(document.getElementById('histograma{{ forloop.counter }}'));
                    chart{{ forloop.counter }}.draw(dados{{ forloop.counter }}, options{{ forloop.counter }});
                {% endfor %}
            }
        })
    </script>{% endcomment %}
{% endblock %}
