{% extends 'extends/default.html' %}
{% load static %}
{% block styles %}

{% endblock %}
{% block title %}
    <title>Parâmetros Populacionais</title>
{% endblock %}
{% block body %}
    <div class="container">
        {% include 'includes/navbar.html' %}

        <div class="row">
            <h1>Candidatos</h1>
        </div>
        <div class="row">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Candidato</th>
                    <th>Qtd de Votos</th>
                    <th>Proporção</th>
                    <th>Méd. de Idade</th>
                    <th>Variância</th>
                    <th>Desvio Padrão</th>
                </tr>
                </thead>
                <tbody>
                {% for parametro in parametros %}
                    <tr>
                    <td>{{ parametro.candidato }}</td>
                    <td>{{ parametro.total }}</td>
                    <td>{{ parametro.proporcao|floatformat }}%</td>
                    <td>{{ parametro.media|floatformat:4 }}</td>
                    <td>{{ parametro.variancia|floatformat:4 }}</td>
                    <td>{{ parametro.desvio_padrao|floatformat:4 }}</td>

                {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <div class="row">
            {% for tab in tabelas %}
                <div class="col-6">
                    <h3>Frequências - Candidato {{ tab.candidato }}</h3>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>i</th>
                            <th>xi</th>
                            <th>fi</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for tabela in tab.tabela %}
                            <tr>
                                <td>{{ tabela.indice }}</td>
                                <td>{{ tabela.xi }}</td>
                                <td>{{ tabela.fi }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
        {% include 'includes/footer.html' %}
    </div>
{% endblock %}
{% block scripts %}

{% endblock %}
