<div class="header clearfix">
    <nav>
        <ul class="nav nav-pills float-right">
            <li class="nav-item">
                <a class="nav-link{% if page == 'index' %} active{% endif %}" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if page == 'populacao' %} active{% endif %}" href="/populacao/">População</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if page == 'parametros' %} active{% endif %}" href="/parametros/">Parâmetros</a>
            </li>
        </ul>
    </nav>
    <h3 class="text-muted">Trabalho de Mét. Estatísticos</h3>
</div>
